<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/header :: common-header">


</head>

<div th:replace="common/header :: navbar"></div>

<body class="form-v5">

<!--<div class="page-top" style="width:100%; height: 20px; background-color: #f46b42;"></div>-->



<div class="page-content-all">
    <div class="form-v5-content">
        <div th:if="${param.error != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
            Incorrect password or username
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form class="form-detail" th:action="@{/login}" method="post">
            <h2>Account Login</h2>
            <div class="form-row">
                <label for="newUsername">Username</label>
                <input type="text" name="username" id="newUsername" class="input-text" placeholder="Your Name" required>

            </div>

            <div class="form-row">
                <label for="password">Password</label>
                <span class="btn-show-pass">
                    <i class="fa fa-eye"></i>
                </span>
                <input type="password" name="password" id="password" class="input-text" placeholder="Your Password" required>

            </div>

            <div class="form-row">

                <div class="form-group col-sm-9">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Remember me
                        </label>
                    </div>
                </div>

                <div class="form-group col-sm-3">

                        <a th:href="@{/forget}" class="txt3">
                            Forgot Password?
                        </a>

                </div>

            </div>





            <div class="form-row-last">
                <input type="submit" name="login" class="login" value="Login">
                <p>or <a th:href="@{/register}">Register</a></p>
            </div>
        </form>
    </div>
</div>




<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
